.App {
  text-align: center;
  justify-content: center;
  background-color: bisque;
}

.event-div {
  margin: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

.events-list-div {
  justify-content: center;
}

/*
.card-images {
  width: 150px;
  height: 100px;
} */
